@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1 class="text-center my-4">Bienvenue dans le Portail SRPFIQ</h1>

    <div class="dashboard-container">
        <a asp-controller="Requests" asp-action="Index" class="module-card">Gérer les demandes</a>
        <a asp-controller="Resources" asp-action="Index" class="module-card">Gérer les ressources</a>
        <a asp-controller="Users" asp-action="Index" class="module-card">Gérer les utilisateurs</a>
        <a asp-controller="Questionnaires" asp-action="Index" class="module-card">Gérer les questionnaires</a>
    </div>
</div>
