@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MaternalExperiences" asp-action="index">Maternal Experiences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MedicalNotes" asp-action="index">Médical Notes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Meetings" asp-action="index">Meetings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionnaireAnswerResults" asp-action="index">QuestionnaireAnswerResults</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionnaireAnswers" asp-action="index">Questionnaire Answer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionnaireDataSourceOptions" asp-action="index">QuestionnaireDataSourceOptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionnaireQuestions" asp-action="index">QuestionnaireQuestions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RequestNotes" asp-action="index">Request Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Requests" asp-action="index">Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ResourceBusinessHours" asp-action="index">ResourceBusinessHours</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Resources_ResourceCategories" asp-action="index">Resources_ResourceCategories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Resources" asp-action="index">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserAssignedRequests" asp-action="index">UserAssignedRequests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserPermissions" asp-action="index">UserPermissions</a>
        </li>
       
        

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ResourceCategories" asp-action="index">Resource Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ResourceCities" asp-action="index">Resource Cities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="index">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="index">Users Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Questionnaires" asp-action="index">Questionnaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="BirthPlaces" asp-action="index">Birth Places</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MedicalTransferReasons" asp-action="index">Medical transfert reason</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MaternalExperiencesThemes" asp-action="index">Medical Experiences Themes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuestionnaireDataSources" asp-action="index">Questionnaire Data Sources </a>
        </li>
    </ul>
   

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
